* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}

body {
    background: #f8fafc;
    color: #0f172a;
    line-height: 1.7
}

header {
    background: #0f172a;
    color: #e5e7eb;
    padding: 30px 20px
}

header h1 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .5px
}

header p {
    opacity: .8;
    margin-top: 6px
}

nav {
    background: #020617;
    position: sticky;
    top: 0;
    z-index: 10
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 12px
}

nav li {
    margin: 4px
}

nav a {
    color: #cbd5f5;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 4px;
    font-size: 14px;
    transition: .3s
}

nav a:hover {
    background: #1e293b;
    color: #fff
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px
}

section {
    margin-bottom: 0px;

    .grid {
        a {
            text-decoration: none;
            color: #020617;
        }

        .card {
            background: #fff;
            border: 1px solid #0f172a;
            border-radius: 6px;
            padding: 20px;
            transition: .3s
        }.card:hover {
            scale: 1.02;
            transition: .3s;
            box-shadow: 0 10px 25px rgba(0, 0, 0, .2)
        }
    }
}


section h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    border-left: 4px solid #cbd5f5;
    padding-left: 10px
}

section p {
    /* max-width: 900px */
}

.img {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

img {
    border: #020617 double 5px;
    height: 200px;
    width: 300px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin: 20px
}


footer {
    background: #020617;
    color: #94a3b8;
    text-align: center;
    padding: 18px;
    font-size: 14px
}